<div class="row">
      <div class="col-12">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.association :ingredient %>
          <%= f.input :description %>
          <%= f.submit 'Add doses Cocktail', class: 'btn btn-success' %>
        <% end %>
      </div>
</div>

